.dark .color-schema {
	background: #000 !important;
	color: #fff;
}

.dark #uw-widget-custom-trigger {
	color: #fff;
}

.dark #maroon,
.dark #blue,
.dark #light-color {
	border: 2px solid #fff;
}

.dark .mdsys .top-bar,
.dark .keyperson-bg .card {
	background-color: #000 !important;
}

.dark .mdsys .logo-menu {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
}

.dark .keyperson-bg,
.dark .downloads-bg,
.dark .youthService-bg,
.dark .gradientBg {
	background: #000 !important;
	color: #fff !important;
}

.dark .keyperson-bg .card {
	border: 1px solid #fff;
}

.dark .downloads-bg .textFields .card {
	background: #000 !important;
	border: 1px solid #fff;
}

.dark .keyperson-bg h4,
.dark .downloads-bg h4,
.dark .youthService-bg h4,
.dark .textFields h5 {
	color: #fff;
}

.dark .downloads-bg h4:after,
.dark .youthService-bg h4:after {
	background: #fff !important;
}

.dark .special-btn {
	background-color: transparent;
	border: 1px solid #fff;
}

.dark .mdsys .subscribe {
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
}

.dark .gradient-card {
	background: #000 !important;
	border: 1px solid #fff;
}

.dark .mdsys .footer-bootom-bar {
	background: #000 !important;
}

.dark .mdsys .subscribe form button {
	background: #000 !important;
}

.dark .mdsys .parentLinks .text-dark{
	color: #fff !important;
}

.dark .mdsys .downloads-bg h4 {
    color: #fff !important;
}

.dark .mdsys .youthService-bg h4 {
    color: #fff !important;
}

.dark .mdsys .textFields h5 {
    color: #fff !important;
}