@media(max-width: 993px){
    .gap {
        padding: 100px 0;
    } 
    .p-60 {
        padding-left: 0px;
        padding-right: 00px;
        padding-top: 40px;
    } 
    .error{
        padding: 80px;
        width: 80%;
	 }  
  
} 
 
@media(max-width: 576px){
    .gap {
        padding: 80px 0;
    } 
    
    .footer-bootom-bar.fore .wpo-lower-footer {
        padding: 0px 0;
        padding-top: 60px;
    }
     
    footer.footer-two .wpo-lower-footer p, footer.footer-two .footer-bootom-bar a {
        color: black;
        text-align: center;
    }
    
    .mob-hide {
	display: none;
} 
     
}

@media(max-width: 500px){ 
    #mobile-nav, .mobile-nav{
        width: 100%;
    } 
    
    .mob-hide {
	display: none;
}

.top-header { 
    padding: 0; 
    display:block;
}
}

 

@media(max-width: 450px){ 
    .social-media {
        margin: 0;
        flex-wrap: wrap;
    }
    .wpo-lower-footer .boder {
        margin: 10px !important;
    }
    .subscribe svg {
        margin-bottom: 16px;
    }
    .subscribe{
        padding: 24px;
    }
    .subscribe .d-flex.align-items-center {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .social-media li{
        margin-bottom: 10px;
    } 
    .Information ul li{
        width: 100%;
    }
    .contact-info a{
        font-size: 16px;
    }
    .widget-title p {
        width: 100%;
    }
    .gifts-img i {
        font-size: 14px;
    } 
    
    .mob-hide {
	display: none;
}

.top-header { 
    padding: 0;
    display:block; 
}
} 

@media(max-width: 375px){
    .footer-bootom-bar a{
        font-size: 14px;
    } 
    
    .mob-hide {
	display: none;
}

.top-header { 
    padding: 0; 
    display:block;
}
}


.mobileNavigaiton {
	.portlet {
    	margin-bottom: 0;
	}
}

.portlet-layout .portlet-header {
    margin-bottom: 0;
}



/* New Media Queries */
/*----------------------------------------------------------------*/
/* Small Devices (Phones, up to 576px) */
@media (max-width: 576px) {
	.mdsys .top-bar-slid {
    	display: block; 
	}
	
	.mdsys .top-bar { 
    	height: auto;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	display: block; 
	}
	
	.social-media-icon {
		padding: 0px;
	}

 
	.mobileNavigaiton {
		display: block;
	}
	
	.blue .mobileMenuLink {
		background: $color-schema-one;
	}
	
	.light-color .mobileMenuLink {
		background: $color-schema-one;
	}
	
	.maroon .mobileMenuLink {
		background: $color-schema-one;
	}
	
	 .second-bar, .mobHide {
		display: none;
	}
	
	.hero-slider {
    	margin-top: 0px !important;
    }

    #sportsNav {
        .navbar-collapse { 
            position: fixed;
            top: 85px;
            background: $white;
            z-index: 9;
            left: 0px;
            width: 100%;
            padding: 10px;
            border-radius: 0;
            border-top: 2px solid #ddd;
        }
    }
    
    .megamenu-bg .d-flex {
        display: block !important;
    }
    
    .mob-hide {
		display: none;
	}
	
	.top-header { 
    	padding: 0; 
    	display:block;
	}
	
}


/*----------------------------------------------------------------*/
/* Medium Devices (Tablets, 577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
	.mobileNavigaiton {
		display: block;
	}
	
	
	.blue .mobileMenuLink {
		background: $color-schema-one;
	}
	
	.light-color .mobileMenuLink {
		background: $color-schema-three;
	}
	
	.maroon .mobileMenuLink {
		background: $color-schema-one;
	}
	.mdsys .top-bar { 
    	height: auto;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	display: block; 
	}
	
	.social-media-icon {
		padding: 0px;
	}
	
	.mdsys .top-bar-slid {
    	display: block; 
	}
	
	.second-bar, .mobHide {
		display: none;
	}
	
	.hero-slider {
    	margin-top: 0px !important;
	}

    #sportsNav {
        .navbar-collapse { 
            position: fixed;
            top: 85px;
            background: #fff;
            z-index: 9;
            left: 0px;
            width: 100%;
            padding: 10px;
            border-radius: 0;
            border-top: 2px solid #ddd;
        }
    }
    
    .megamenu-bg .d-flex {
        display: block !important;
    }
    	 	#captchaInput-error{
left:60%!important;
}




.mob-hide {
	display: none;
}
.top-header { 
    	padding: 0; 
    	display:block;
	}
}


/*----------------------------------------------------------------*/
/* Large Devices (Desktops, 769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {  
	.mobileNavigaiton {
		display: block;
	}
	
	.blue .mobileMenuLink {
		background: $color-schema-one;
	}
	
	.light-color .mobileMenuLink {
		background: $color-schema-three;
	}
	
	.maroon .mobileMenuLink {
		background: $color-schema-one;
	}
	
	.second-bar {
		display: none;
	}
	
	.hero-slider {
    	margin-top: 0px !important;
	}

    #sportsNav {
        .navbar-collapse { 
            position: fixed;
            top: 85px;
            background: #fff;
            z-index: 9;
            left: 0px;
            width: 100%;
            padding: 10px;
            border-radius: 0;
            border-top: 2px solid #ddd;
        }
    }
    
    .megamenu-bg .d-flex {
        display: block !important;
    }
 .keyperson-bg .card {
height:auto!important;
}

.top-header { 
    	padding: 0; 
    	display:block;
	}
}


/*----------------------------------------------------------------*/
/* Extra Large Devices (Large Desktops, 993px and up) */
@media (min-width: 993px) {
	.mobileNavigaiton {
		display: none;
	}

}
/*------------------------------------*/
/* Phones (portrait) */
@media (max-width: 575.98px) {
        .banner-img {
        margin-top: -20px!important;
    }
    .error {
        padding: 10px!important;
    }
    
    .panel-body {
        padding: 0px;
    }
    .mdsys .social-media {
        padding-left: 0px;
        display: flex;
    }
    img.white-logo{
        margin-bottom: 25px;
    }
    .navbar-light .navbar-toggler{
            margin-top: -25px;
    }
    .mdsys .Information {
          padding-top: 0px;
    }
    .mdsys .gap{
        margin-top: 30px!important;
        padding: 0px;
    }
     .common-forms-div .card .card-body .form-group label {
  font-size:12px;
  /*padding: 0px!important;*/
  }
   #captchaInput{
    font-size: 12px;
}
}
/* Phones (landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
     .navbar-light .navbar-toggler{
        margin-left: -25px;
    }
    .error {
        padding: 10px!important;
    }
     .common-forms-div .card .card-body .form-group label {
  font-size:12px;
 /* padding: 0px!important;*/
  }
     #captchaInput{
    font-size: 12px;
}
#captchaInput-error{
left:40%;
}
}
 
/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
      .banner-img {
        margin-top: 0px!important;
    }
   .error {
        padding: 10px!important;
    }
     .common-forms-div .card .card-body .form-group label {
  font-size:12px;
  
 /* padding: 0px!important;*/
  }
    #captchaInput{
    font-size: 12px;
}
	 	#captchaInput-error{
left:60%!important;
}
.keyperson-bg .card {
height:auto!important;
}
}
 
/* Small laptops */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
 
/* Large desktops */
@media (min-width: 1200px) {
}

@media(max-width:729px){
.common-forms-div .card .card-body .btn {
      margin-top: -30px;
    padding: 5px 10px;
  }
  .common-forms-div .card .card-body .d-flex{
  display: block!important;
  }
  .common-forms-div .card .card-body .form-group label {
  font-size:12px;
 padding: 0px!important;
  }
  #captchaInput{
margin-left:0px!important;
}
#captchaInput-error{
left:0%;
}
.keyperson-bg .card {
height:auto!important;
}
.keyperson-bg h4:after {
width: 30%!important;
}
.downloads-bg h4:after{
width: 30%!important;
top: 72%!important;
}
.youthService-bg h4:after {
width: 35%!important;
top: 72%!important;
}
.gradient-card {
height:150px!important;
}

.gradientBg h4:after {
width:30%!important;
}

    .social-media-icon .cust-search {
        width: 100%;   
        margin-bottom: 15px;
    }

    .social-media-icon .cust-search > div {
        width: 100%;   
    }



.mdsys .phone-data {
    display: block!important;
}
.widget-title{
margin-top: 10px;
}
.mdsys .Information ul {
font-size:14px!important;
}

    .sliderhero-img {
    height:200px!important;
    }
.maharashtraSports-main-content:has(.deshbordSidebar.ifCond) .maharashtraSports-body-main {
      width: calc(100% - 0px) !important;

}
}