body {
    font-family: Poppins-Regular;
	background-color: $bg-common;
    transition: all 0.5s;
    overflow-x: hidden;
    font-size: 14px;
}

.portlet-content-editable {
    padding: 0px !important;
    background: transparent !important;
}

.portlet-decorate .portlet-content {
    background: transparent !important;
    padding: 0px !important;
}

.portlet-title-editable, .portlet-title-text  {
    display: none !important;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 25px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.pointer {
	cursor: pointer;
}