$color-schema-one: #861f41;

.profileImg {
	img {
		width: 35px;
		border-radius: 10px;
		border: 2px solid #fff;
	}
}
.headerIcon {
	width: 20px;
	filter: invert(1);
}
.notification {
	a {
		text-decoration: none;
	}
}
.headerSearch {
	position: relative;
	i {
		position: absolute;
		right: 7px;
		top: 8px;
	}
}



.custom-file-label {
    height: 50px;
    background-color: #eaeef6;
    border: 1px solid #9898f9;
    padding: 12px 80px 15px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file-label::after {
    height: calc(2.5em + 0.75rem + 2px);
    padding: 12px;
    background: #061173;
    border: 0px;
    color: #fff;
}


//Guest Registration form UI Properties
.common-forms-div { 
	.card {
		border-radius: 15px;
		
		.card-header {
			background: $color-schema-one;
    		color: #fff;
    		border-radius: 15px 15px 0px 0px;
    		height: 50px;
    		padding: 17px;
    		
    		h5 {
    			margin-bottom: 0;
    			font-size: 14px;	
    			font-family: 'Poppins-Regular';
    		}
		}

        .card-body {
            .form-group {
                margin-bottom: 2rem;
                
                label {
                    margin: 0px;
                    color: $color-schema-one; 
                    font-family: Poppins-Semibold;
                    font-size: 13px;
                }
                
                .form-control {
                    border: 1px solid rgb(37 37 141 / 32%);
                    border-radius: 5px;
                    height: 45px;
                    font-size: 13px; 
                    color: #000 !important;
                    font-family: Poppins-Meduim;
                }
               	
            } 
            .btn {
				background-color: $color-schema-one;
    			border-color: $color-schema-one;
    			color: #fff;
    			font-size: 13px;
    			padding: 5px 10px;
    			font-family: Poppins-Meduim;
    			border-radius: 6px;
    			margin: 0px 0px 0px 10px;
			}
        }
		
		.card-footer {
			.btn {
				background-color: $color-schema-one;
    			border-color: $color-schema-one;
    			color: #fff;
    			font-size: 13px;
    			padding: 10px 20px;
    			font-family: Poppins-Meduim;
    			border-radius: 6px;
    			margin: 0px 0px 0px 10px;
			}			
		}
	} 
}


.sub-card {
	.card {
		background: #EEEEF6;	    
	    border-radius: 10px;
	    border: 1px solid #8A8AC2;
	    
	    .card-header {
	    	background: transparent;
		    color: $color-schema-one;
		    border-radius: 15px 15px 0px 0px;
		    height: 50px;
		    padding: 17px;
	    }
	    
	    .card-body {
	    	
	    }
	}
}




.btn {
	background-color: $color-schema-one;
	border-color: $color-schema-one;
	color: #fff;
	font-size: 13px;
	padding: 10px 20px;
	font-family: Poppins-Meduim;
	border-radius: 6px; 
}			


.dashboardPage .card {
  border: 0;
  padding: 15px; 
  max-height: 250px;
  min-height: 70px; 
  font-size: 14px;
  border-left: 5px solid #15479e;
  border-radius: 15px;
  box-shadow: 0 0 10px #ddd;
  transition: all 0.2s;
}
 
.dashboardPage .card img {
  width: 30px;
  margin-right: 15px;
}
 
.dashboardPage .card:hover {
  background: linear-gradient(225deg, rgb(58 0 255) 0%, rgb(21 71 158) 35%, rgb(21 71 158) 100%);
  color: #fff;
}

.card-body .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: $color-schema-one;
}

.dashboardPage .card:hover p {
	color: #fff;
}
 
.dashboardPage .card:hover img { 
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

label.error, .text-danger {
	color: red !important;
	font-family: Poppins-Meduim !important;
	font-size: 13px !important; 
}


.dashboardPage {
	a {
		.card {
			p {
				color: $color-schema-one;
				    display: -webkit-box;
    				-webkit-line-clamp: 2;
    				-webkit-box-orient: vertical;
    				overflow: hidden;
    				font-size: 13px;
			}
		}
	}
}

.form-group .radio-text{
   margin-right:35px;
}
.form-group .radio-btn{
  vertical-align: middle;
}

.ageGroupCheckbox{
   vertical-align: middle;
}
.custom-file-label::after {
   color:#fff!important;
   background-color: $color-schema-one!important;
   padding:12px!important;
   height: 45px!important;
}
.custom-file-label{
   padding:12px!important;
   height:45px!important;
}
.captcha-image{
width: 100px;
    height: 45px;
    object-fit: cover;
    border-radius: 5px;
}
.btn-refersh {
    background-color: transparent;
    color: black;
    border: none;
}
.card-body .card-background{
    background-color: rgb(242, 232, 236)!important;
    padding: 1.5rem;
    border-radius: 20px;
}
.card-body .card .header-card{
	    background-color: transparent;
    color: #861f41!important;
    font-weight: 600;
    font-size: 12px;
}

 .lang-convert {
		.portlet {
			.portlet-body {
				.form-group {
					.form-control {
					background: transparent;
					color: #fff;
					border: 0px;
					border-bottom: 1px solid #fff;
					border-radius: 0px;
					font-size: 14px;
					margin-top: 11px;		
					}
				}
			}
		}
	
	}
.universal-table .table-bordered td,
.universal-table .table-bordered th {
  background: rgb(242, 232, 236);
  padding: 15px 10px;
  border-left: none !important;
  border-right: none !important;
  border-top: 1px solid #dddded;
}
.universal-table .table-bordered td {
  word-break:break-all;
}

.universal-table table {
  border-collapse: separate !important;
  border-spacing: 0;
}

.universal-table thead th:first-child {
  border-top-left-radius: 15px;
}

.universal-table thead th:last-child {
  border-top-right-radius: 15px;
}

.universal-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.universal-table .table-bordered thead td, .table-bordered thead th {
    color: #861f41!important;
    font-size: 14px;	
   	font-family: 'Poppins-Regular';
}

.universal-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.universal-table tbody tr td:last-child {
  align-items: center;
  gap: 8px;
}
.universal-table tbody tr td.dt-empty, .universal-table tbody tr td.dataTables_empty {
  display: table-cell;
}

.universal-table td .bi::before {
    background: #eeeef6;
    color: #222280;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.universal-table .table-bordered {
	border-radius: 15px;
	border-color: #dddded;
}
.universal-table .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #dddded;
    background: $color-schema-one;
}
.universal-table table.dataTable th.dt-empty, table.dataTable td.dt-empty {
    text-align: center;
    vertical-align: top;
}
.universal-table div.dt-container .dt-paging .dt-paging-button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 3px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dddded;
    border-radius: 5px;
    background: #eeeef6 !important;
}

.btn-secondary, .btn-primary {
	background-color: $color-schema-one;
    border-color: $color-schema-one;
    color: #fff;
}


.sidebarList li:hover a .icon img, .sidebarList li:hover a .icon span.url-link, .sidebarList li:hover a .icon {
    color: #fff;
    filter: brightness(0) invert(1); 
}
.maharashtraSports-dashboard-wrapper .maharashtraSports-main-content .deshbordSidebar {
    width: 280px;
    min-width: 280px;
   height: calc(100vh - 46.36px)!important;
    float: left;
    position: fixed!important;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 4;
    transition: none!important;
}

.closed-sidebar .deshbordSidebar .sidebarContent .sidebarList li a .icon .url-link {
    display: none!important;
}

.maharashtraSports-dashboard-wrapper .maharashtraSports-header .deshbordHeaderLogo {
	transition: none!important;
}

.maharashtraSports-dashboard-wrapper .maharashtraSports-header .deshbordHeader-content {
	transition: none!important;
}

#captchaInput{
	margin-left:10px;
}
.common-forms-div .card .card-body .form-group .custom-file .error{
	margin-top:5px!important;
}
/*search*/
.dt-search{
	    display: flex;
    justify-content: end;
}
.universal-table .table-bordered {
  border-radius: 15px;
  border-color: #dddded;
	margin-top:15px;
}
.dt-length{
	margin-top:15px
}
.dt-paging{
	display:flex;
	justify-content:end;
}
.notification{
    position: absolute;
    transform: translate3d(0px, 24px, 0px);
    top: 25px!important;
    left: 0px;
    will-change: transform;
    min-width: 400px!important;
}
.notification .text-default{
    font-size:13pximportant;
}
.dataTables_wrapper .dataTables_length {
    margin-top: 10px;
}
div.dt-buttons>.dt-button{
    color: #ffffff!important;
    background-color: $color-schema-one!important;
    border: none!important;
}

/*sidebar*/
.sidebarList li a {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
}

.sidebarList li a .icon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.sidebarList li a .icon img {
  flex-shrink: 0;
  width: 20px; 
  height: 20px;
  margin-top: 2px;
}

.sidebarList li a .icon .url-link {
  white-space: normal;
  display: inline-block;
  line-height: 1.4;
  word-break: break-word;
  max-width: 160px; 
}


/*back-button*/
.back-btn-cn{
    background-color: $color-schema-one!important;
    border-color: #fff!important;
}



.universal-table td .bi::before {
background: transparent!important;
color: #ffffff!important;
font-size: 15px;
}
.tooltip-icon{
margin-left: -19px;
display:flex;
}
.filter-card .card-footer:last-child {
    	border-bottom-left-radius: 20px;
    	border-bottom-right-radius: 20px;
    }
 .filter-card .card-body label {
	margin: 0px;
    color: $color-schema-one;
    font-family: Poppins-Semibold;
    font-size: 13px;
}
div.error {
   color: red !important;
   }
   .btn .secondary {
   background-color: $color-schema-one;
   border-color: $color-schema-one;
   color: #fff;
   font-size: 13px;
   padding: 5px 10px;
   font-family: Poppins-Meduim;
   border-radius: 6px;
   margin: 0px 0px 0px 10px;
   }
span.text-danger{
   color:red!important;
}

.image-width-emoji {
	width: 50%;
	}




.card-body .list-group li.list-group-item {
    padding: 5px 0px;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.card-body .list-group li.list-group-item button.btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #dc3545 !important;
}
.latest-btn {
z-index:1!important;
}

.btn-secondary{
background-color: #861f41!important;
border-color: #861f41!important;
}

.btn-secondary:hover{
background-color: #861f41!important;
border-color: #861f41!important;
}
@media(max-width:729px){
.maharashtraSports-main-content:has(.deshbordSidebar.ifCond) .maharashtraSports-body-main {
      width: calc(100% - 0px) !important;

}

}
.closed-sidebar .maharashtraSports-body-main {
width: calc(100% - 80px) !important;
}
 
 
.maharashtraSports-body-main {
	width: calc(100% - 250px) !important;
}
@media (min-width: 992px) {
    .maharashtraSports-dashboard-wrapper.closed-sidebar .maharashtraSports-main-content .maharashtraSports-body-main {
        width: calc(100% - 80px) !important;
    }
}

.sidebarContent ul.sidebarList li:not(:first-child) {
    display: none !important;
}
