//Colors
$color-schema-one: #861f41; 
$color-schema-two: #26268e;
$color-schema-three: #009990;
$bg-common: #f5f5f5;
$white: #fffff;
$grey: #dddddd;
$black: #000000; 

#filterCard .card-body {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
 

