.mhdsys-grants-and-schemes {
}

.universal-table .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #dddded;
    background: #26268E;
}

.universal-table div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: #262661 !important;
    color: #fff !important;
    }
    
.card-background .card-footer:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}